.toc {
	position: absolute;
	z-index: 1;
	top: 1rem;
	right: 1rem;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
	padding: 1.5rem;
}

.slider_box {
	display: flex;
	align-items: center;
}

.slider_box > label {
	font-weight: 500;
	margin-right: 0.5rem;
}

.slider_box > input[type='text'] {
	width: 3rem;
}
